@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.showcase {
    background-color: #3185da;
    overflow: auto;
    color: #fff;
    position: relative;
    height: 300px;
    padding: 10px 0;
    overflow: visible;
}

.container-grid {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: centre;
    grid-gap: 10px;
    grid-template-columns: 2fr 1fr;
}

.showCaseText>h1 {
    font-size: 20px
}

.showcase-form {
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: column;
    height: 350px;
    color: #000;
    max-width:300px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    z-index: 100;
}
 .demo{
    color: #000;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


input {
    width: 100%;
    padding: 12px;
    border:0;
    border-radius: 5px;
    font-size: 15px;
    border-bottom: 1px solid #b4becb;
    resize: vertical;
    margin: 5px 0;
}

input:focus{
    outline: none;
}

form{
    width: 100%;
    padding: 0 10px;
}

.btn{
    font-size: 16px;
    letter-spacing: 2px;
    font-family: "Lato" sans-serif;
    font-weight: 400 !important;
    background-color: #3185da;
    display: inline-block;
    padding: 10px 10px;
    margin-top: 10px;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    border: 0px;
    cursor: pointer;
    transition: all 0.3s 0s ease-in-out;
}

.btnoutline{
    background-color:transparent;
    border:1px solid #fff;
    display: inline-block;
    margin-left: 4px;
    padding: 10px;
    color: #fff;
}

.btn:hover{
    transform:scale(0.98);
}

.showcase::after{
    content:"";
    color: #000;
    height: 100px;
    width:100%;
    background-color:#fff;
    position: absolute;
    bottom:-80px;
    transform: skewY(100deg);
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

  /*Tablets and under*/

  @media (max-width:768px){

    .container-grid{
        grid-template-columns: 1fr;
    }

    .showcase-form {
        justify-self: center;
        width:500px;
    }

    .showcase{
        height:auto;
    }

    .showCaseText{
        text-align: center;
        margin-top:10px;
    }
}


/**/
@media (max-width:500px){
    
}

